* {
  box-sizing: border-box;
}

h2 {
  font-family: "Fraunces";
  margin: 0;
}

body {
  margin: 0 35px;
}

p {
  font-family: "Barlow";
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.btn {
  margin-top: 90px;
  margin-left: 89px;
  border: 1px solid #0E8784;
  background-color: #0E8784;
  display: inline-block;
  text-decoration: none;
  border-radius: 6px;
  color: #fefcf7;
  padding: 15px 40px;
  font-family: "Fraunces 9pt";
  font-size: 18px;
  line-height: 25px;
}

@media (max-width: 998px) {
  .bolf {
    flex-wrap: wrap;
  }
  .card {
    display: flex;
  }
}
@media (max-width: 768px) {
  .card {
    flex-wrap: wrap;
  }
}
@media (max-width: 998px) {
  .spayk__kurama {
    display: flex;
    width: 632px;
    height: 248px;
  }
  .spayk__pather {
    flex-wrap: wrap;
  }
  .spayk__kurama img {
    width: 100px;
    padding-right: 30px;
    padding-top: 17px;
  }
  .moll {
    margin-right: -12px;
    padding-left: 43px;
  }
}
@media (max-width: 768px) {
  .spayk__kurama {
    flex-wrap: wrap;
    height: 336px;
    width: 332px;
  }
  .spayk h2 {
    margin-left: -144px;
  }
  .moll {
    padding-left: 6px;
  }
  .spayk__kurama img {
    margin-top: -32px;
  }
}
@media (max-width: 998px) {
  .box {
    flex-wrap: wrap;
    margin-bottom: 35px;
  }
}
.hamburger {
  margin-top: 10px;
  display: inline-block;
}
@media (max-width: 768px) {
  .hamburger::after, .hamburger::before {
    content: "";
    display: block;
    height: 2px;
    width: 20px;
    background-color: black;
    margin: 5px 0;
  }
}

input[type=checkbox]:checked + .navbar ul {
  transform: translateX(0%);
}

.navbar {
  position: absolute;
}
@media (max-width: 768px) {
  .navbar ul {
    padding-top: 30px;
    margin-left: -282px;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 200px;
    margin-top: 0;
    height: 900vh;
    border: 1px solid #fff;
    background-color: #fff;
    transform: translateX(-120%);
    transition: 0.3s ease;
  }
  .navbar li {
    margin-top: 25px;
  }
}

.header-heading {
  display: flex;
  position: relative;
}

.ulambula {
  list-style: none;
  text-decoration: none;
  display: flex;
}

.ulambula li {
  list-style: none;
  text-decoration: none;
  padding-left: 10px;
  width: 120px;
}

.dropdown:hover .dropdown-ul {
  display: block;
}

.dropdown-ul {
  margin-top: 1px;
  transition: 0.3s ease;
  padding: 0;
  border: 1px solid beige;
  border-radius: 3px;
  padding: 10px;
  width: 150px;
  background-color: #fff;
  display: none;
}

.dropdown-ul .nav-item {
  padding: 0;
  min-width: 150px;
}

.nav-item a {
  border-bottom: 1px solid transparent;
  transition: 0.3s ease;
}

.nav-item a:hover {
  border-bottom: 1px solid #000;
}

.ulambula li a {
  text-decoration: none;
  list-style: none;
  color: #83888f;
  display: inline-block;
  vertical-align: middle;
}

.section-hero {
  background-image: url(../img/Bitmap.png);
  border-radius: 13px;
  max-width: 1300px;
  background-repeat: no-repeat;
  min-height: 605px;
  margin-top: 23px;
  width: 1207px;
}

.section-hero h2 {
  max-width: 500px;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
  margin-bottom: 46px;
  padding-top: 91px;
  padding-left: 47px;
}

.section-hero__title {
  color: #fefcf7;
  opacity: 0.8;
  width: 445px;
  padding-left: 55px;
  line-height: 32px;
} /*# sourceMappingURL=section-hero.css.map */
.spayk {
  background-color: #333d4b;
  width: 92%;
  height: 500px;
  border-radius: 15px;
  text-align: center;
  padding: 90px 335px;
}

.spayk h2 {
  width: 330px;
  text-align: center;
  color: #fefcf7;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 40px;
  margin-left: -107px;
}

.spayk p {
  margin-left: -208px;
  color: #fefcf7;
  opacity: 0.8;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  width: 550px;
  height: 80px;
}

.spayk__kurama {
  border: 1px solid #0E8784;
  padding: 44px;
  margin-top: 37px;
  padding-right: 24px;
  background-color: #0E8784;
  border-radius: 8px;
}

.spayk__kurama h2 {
  color: #fefcf7;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 24px;
}

.spayk__kurama p {
  color: #fefcf7;
  opacity: 0.8;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  width: 210px;
}

.spayk__kurama img {
  margin-left: 63px;
  margin-bottom: 45px;
}

.spayk__pather {
  justify-content: space-evenly;
  position: relative;
  top: -180px;
  display: flex;
  margin-right: 97px;
}

.kolumb {
  margin-top: 200px;
  margin-bottom: 70px;
}

.kolumb h2 {
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
  margin-bottom: 90px;
}

.kolumb__mather {
  display: flex;
}

.kolumb__circle-1 {
  border: 2px solid #0E8784;
  width: 58px;
  height: 48px;
  background: #fefcf7;
  color: #0E8784;
  border-radius: 50%;
}

.kolumb__circle-2 {
  border-bottom: 1px solid #fdd6ba;
  width: 660px;
  height: 1px;
  top: 127px;
  left: 15.5px;
  margin-top: 26px;
}

.bolf {
  display: flex;
  margin-top: 180px;
  margin-bottom: 180px;
}

.card img {
  padding-bottom: 50px;
}

h3 {
  margin: 0;
}

.card p {
  font-size: 19px;
  width: 340px;
  line-height: 34px;
}

.oppolon {
  font-size: 115px;
  margin-top: 50px;
  z-index: -1;
  right: 570px;
  color: #83888f;
  opacity: 0.6;
}

.card {
  width: 480px;
  padding: 25px;
}

.card h3 {
  font-size: 28px;
  line-height: 32px;
  color: #333d4b;
  margin-bottom: 24px;
}

.card__car img {
  width: 235px;
  height: 228px;
}

.banan {
  margin-left: 95px;
}

.banan__spa {
  width: 90px;
  height: 72px;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
  font-family: "Fraunces";
}

.banan__subtitle {
  width: 350px;
  height: 73px;
  font-size: 42px;
  line-height: 36px;
  font-family: "Fraunces";
  color: #333d4b;
}

.banan__title {
  width: 285px;
  height: 130px;
  line-height: 26px;
  color: #333d4b;
}

.pather-banan {
  display: flex;
}

.box {
  margin-top: 100px;
  background-color: #2c343e;
  border: 1px solid #2c343e;
  margin-left: 171px;
  border-radius: 8px;
  margin-bottom: 35px;
}

.foot-img {
  height: 24px;
  padding-left: 130px;
  margin-right: 78px;
}

.napalon ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  padding-top: 15px;
  padding-left: 50px;
}

.napalon ul li a {
  text-decoration: none;
  color: #83888f;
  line-height: 15px;
  padding-right: 20px;
  height: 15px;
}

.linker {
  margin-left: 120px;
  margin-top: 29px;
}

.snipped__box img {
  border-radius: 8px;
  margin-right: 100px;
}

.snipped__boxer h2 {
  color: #333D4B;
  font-size: 48px;
  line-height: 40px;
  font-weight: bolder;
}

.snipped {
  margin-top: 200px;
  display: flex;
}

.snipped__boxer {
  margin-top: 76px;
}

.snipped__boxer p {
  width: 510px;
  color: #333D4B;
  opacity: 0.8;
  line-height: 25px;
}

.widget {
  margin: 50px;
  background-color: #2C343E;
  height: 600px;
  border-radius: 10px;
  margin-top: 280px;
}

.widget__box h2 {
  color: #FEFCF7;
  font-size: 40px;
  line-height: 48px;
  padding: 90px 90px 40px 90px;
}

.widget__box p {
  color: #FEFCF7;
  opacity: 0.8;
  width: 600px;
  padding-left: 90px;
  line-height: 27px;
}

.widget__big-box {
  display: flex;
  position: relative;
}

.wiget__boxer img {
  position: absolute;
  transform: translate(67px, -100px);
  border-radius: 10px;
}

.content h2 {
  color: #83888F;
  font-size: 24px;
  line-height: 180px;
}

.content__box h3 {
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
}

.content__box p {
  width: 120px;
  padding-left: 10px;
  line-height: 26px;
}

.content__big-box {
  display: flex;
}

.content__box--primary {
  margin-left: 160px;
}/*# sourceMappingURL=main.css.map */