* {
    box-sizing: border-box;
  }
  
  h2 {
    font-family: "Fraunces";
    margin: 0;
  }

 
  p {
    font-family: "Barlow";
    margin: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .visually-hidden {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .btn {
    
    position: absolute;
    margin-top: 90px;
    margin-left: 89px;
    @include reset-button;
  
    border-radius: 6px;
    color: #fefcf7;
    padding: 15px 40px;
    font-family: "Fraunces 9pt";
    font-size: 18px;
    line-height: 25px;
  }


  @media (max-width:$tab) {
    .bolf {
      flex-wrap: wrap;
      
    }
    
    .card {
      display: flex;
    }
  }

  @media (max-width:$phone) {
    .card {
     flex-wrap: wrap;
    }
  }
  