
@mixin reset-list {
    list-style: none;
    text-decoration: none;
    
}

@mixin reset-button {
    border: 1px solid $color-primary;
    background-color: $color-primary;
    display: inline-block;
    text-decoration: none;
}