.banan {
    margin-left: 95px;
  }
  
  .banan__spa {
    width: 90px;
    height: 72px;
    font-size: 72px;
    line-height: 72px;
    color: #fdd6ba;
    font-family: "Fraunces";
  }
  
  .banan__subtitle {
    width: 350px;
    height: 73px;
    font-size: 42px;
    line-height: 36px;
    font-family: "Fraunces";
    color: #333d4b;
  }
  
  .banan__title {
    width: 285px;
    height: 130px;
    line-height: 26px;
    color: #333d4b;
  }
  
  .pather-banan {
    display: flex;
  }