
.content h2 {
    color: #83888F;
    font-size: 24px;
    line-height: 180px;
}

.content__box h3 {
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}

.content__box p {
    width: 120px;
    padding-left: 10px;
    line-height: 26px;
}

.content__big-box {
    display: flex;
}

.content__box--primary {
    margin-left: 160px;
}

