
.snipped__box img {
    border-radius: 8px;
    margin-right: 100px;
}

.snipped__boxer h2 {
    color: #333D4B;
    font-size: 48px;
    line-height: 40px;
    font-weight: bolder;

}

.snipped {
    margin-top: 200px;
    display: flex;
}

.snipped__boxer {
    margin-top: 76px;
}

.snipped__boxer p {
    width: 510px;
    color: #333D4B;
    opacity: 0.8;
    line-height: 25px;
}