.spayk{
  background-color: #333d4b;
  height: 500px;
  border-radius: 15px;
  padding: 20px 0;

  }
  
  .spayk h2 {
    text-align: center;
    color: #fefcf7;
    font-size: 40px;
    line-height: 48px;   
    margin-top: 20px;
  }
  // .
  .spayk p {
    color: #fefcf7;
    opacity: 0.8;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
    width: 550px;
    margin-left: 310px;
  }

  .spayk__kurama {
    border: 1px solid #0E8784;
    padding: 30px;
    max-width: 300px;
    height: 350px;
    margin-top: 37px;
    padding-right: 24px;
    background-color: #0E8784;
    border-radius: 8px;
  }
  
  .spayk__kurama h2 {
    color: #fefcf7;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px;
  }
  
  .spayk__kurama p {
    color: #fefcf7;
    opacity: 0.8;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
  }

  .spayk__kurama img {
    margin: 30px 80px;
    width: 70px;
    height: 70px;
  }
  
  .spayk__pather {
    display: flex;
    gap: 50px;
    margin-top: -256px;
    margin-left: 100px;
  }
  