
.widget {
    margin: 50px;
    background-color: #2C343E;
    height: 600px;
    border-radius: 10px;
    margin-top: 280px;
}


.widget__box h2 {
    color: #FEFCF7;
    font-size: 40px;
    line-height: 48px;
    padding: 90px 90px 40px 90px;
}

.widget__box p {
    color: #FEFCF7;
    opacity: 0.8;
    width: 600px;
    padding-left: 90px;
    line-height: 27px;
    
}

.widget__big-box {
    display: flex;
    position: relative;
}

.wiget__boxer img{
    position: absolute;
    transform: translate(67px,-100px);
    border-radius: 10px;
    
}